
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  border-color: #D3D3D3;
}
table{
	width: 100%;
}
.content{
	color: 	#696969;
}
.btn1{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 19px;
	border-color: orange;
	background-color: orange;
}
.btn{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 19px;
}
.product-name{
	color: #0096FF;
}
.pagination{
	margin-top: 3px;
	margin-bottom: 3px;
}
img{
	height: 30px;
	width: 30px;
	margin-left: 5px;
}
